{% extends 'base.html' %}
    {% block content %}
        <!--  Navbar  -->
        <div class="header-bar">
            <h1>Login</h1>            
        </div>
        <!--  End of navbar  -->
    
        <!--  Main content  -->
        <div class="card-body">
            <form action="" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" value="Login">
            </form>
            <p>Dont have an account? <a id="links" href="{% url 'register' %}">Register</a></p>
        </div>
        <!-- End of Main content -->
    {% endblock content %}
