{% extends 'base.html' %}
    {% block content %}
        <!--  Navbar  -->
        <div class="header-bar">
            <h1>Register</h1>            
        </div>
        <!--  End of navbar  -->
    
        <!--  Main content  -->
        <div class="card-body">
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <label>{{ form.username.label }}:</label>
                {{ form.username }}
                <label>{{ form.password1.label }}:</label>
                {{ form.password1 }}
                <label>{{ form.password2.label }}:</label>
                {{ form.password2 }}
                <input style="margin-top: 10px;" class="button" type="submit" value="Register">
            </form>
            <p>Already have an account? <a id="links" href="{% url 'login' %}">Login</a></p>
        </div>
        <!-- End of Main content -->
    {% endblock content %}
